@font-face {
    font-family: 'digital-7' ;
    src: url(./fonts/digital-7.ttf);
}

body {
    background: #d3d3d3;
    display: grid;
    place-items: center;
    font-family: 'digital-7', sans-serif;
}

header, h1{
    color: #161a1d;
    font-size: 60px;
    text-align: center;
    margin: 10px;
}

section {
    background: #000000;
    text-align: center;
    border-radius: 10px;
    height: 440px;
    width: 296px;
    padding: 10px;
    box-shadow: 5px 5px 10px #f6aa1c;
    
}

div#resultado{
    background-color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #f6aa1c;
    text-align: right;
    padding: 5px;
    font-size: 40px;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 5px;
    color: #d8e2dc;    
}

table{
    text-align: center;  
}

.botao{
    width: 70px;
    height: 70px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 50px;
    color: #EDF2F4;
    background-color: #161a1d;
    border-color: solid #001427;
}

.botao1{
    width: 70px;
    height: 70px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    margin: none;
    text-align: center;
    border-radius: 50px;
    color: #EDF2F4;
    background-color: #f6aa1c;
}

.botao2{
    width: 70px;
    height: 70px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    margin: none;
    text-align: center;
    border-radius: 50px;
    color: #161a1d;
    background-color: #e3e3e3;
}

.botaomusic{
    width: auto;
    height: auto;
    font-size: 20px;
    display: block;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 50px;
    color: #000000;
    background-color: #f6aa1c;
    
    
    
}

.botao:hover{
    background-color: #5a5e61;
    color: #EDF2F4;

}

.botao1:hover{
    background-color: #EDF2F4;
    color: #2B2D42 ;
}

.botao2:hover{
    background-color: #ffffff;
    color: #2B2D42 ;
}

.botaomusic:hover{
    background-color: #000000;
    border: 1px solid #f6aa1c;
    color: #f6aa1c;
    border-color:1px solid #f6aa1c;
}

a{
    text-decoration: none;
}