body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
    display: grid;
    place-items: center;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    width: 450px;
    margin: auto;
    height: 550px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

div#resultado{
    background-color: rgb(141, 139, 139);
    text-align: left;
    margin: 28px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    height: 50px;
    border: 2px #000 solid;
    
}

footer {
    color: white;
    text-align: vertical;
    font-style: italic;
}